canvas {
  display: block;
  height: 100%; 
  width: 100%;
  z-index: 1;
}

#area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: cyan;
  z-index: -2;
}

#floor {
  --floor-height: 25%;
  --green-ratio: 2/3;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
  height: var(--floor-height);
  border: solid 1px black;
  
  &::after {
    content: '';
    position: absolute;
    height: calc(100% * var(--green-ratio));
    width: 100%;
    bottom: 0;
    background: #40a02b;
  }
}


