:root {
  --sky-h: 85%;
}

#sky {
  position: absolute;
  top: 0;
  width: 100%;
  height: var(--sky-h);
  background: cyan;
  z-index: -1;
}

#ground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(100% - var(--sky-h));
  background: limegreen;
  z-index: -1;
}
